<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Styles/homeIndex.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="container-fluid ">
        <div class="row">
            <!-- header area start -->
            <div class="headerStyle">
                <h1 id="humaneSociety">Dillon Pet Project</h1>
            </div>
            <!-- header area end -->
            <!-- menubar area start -->
            <nav class="navbar navbar-default container-fluid ">
                <div class="container-fluid">
                    <!-- navbar for mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- navbar for desktop display -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("All Pets", "Index", "Pet")</li>
                                <li>@Html.ActionLink("Adoptable Dogs", "ShowDogs", "Pet")</li>
                                <li>@Html.ActionLink("Adoptable Cats", "ShowCats", "Pet")</li>
                                <li>@Html.ActionLink("View Users", "ViewUsers", "Admin")</li>
                                <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
                                <li>@Html.ActionLink("Create Role", "CreateRole", "Admin")</li>

                            }
                        </ul>
                        @Html.Partial("_LoginPartial")

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- menubar area end -->
        </div>
    </div>

    <div class="Container">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
